{% extends "base.html" %}

{% block content %}
<div class="section-container bg-dark border border-2 border-dark-subtle rounded-1 shadow">
    <section class="section">
        <header class="reg-log-header border-bottom border-secondary">
            Регистрация
        </header>
        <form action="/register" method="post" onsubmit="return checkForm(this);" id="reg-form">
            <div class="field">
                <label for="login">Логин</label>
                <input type="text" name="login" id="login" placeholder="Логин" class="d-inline-flex focus-ring focus-ring-success">
            </div>
            <div class="field">
                <label for="email">Электронная почта</label>
                <input type="text" name="email" id="email" placeholder="Электронная почта" class="d-inline-flex focus-ring focus-ring-success">
            </div>
            <div class="field">
                <label for="password">Пароль</label>
                <div  class="password-container">
                    <input type="password" name="password" id="password" placeholder="Пароль" class="d-inline-flex focus-ring focus-ring-success">
                    <input type="checkbox" name="password" id="pass_show"  onclick="showPassword(this)">
                </div>
            </div>
            <div class="field">
                <label for="password_again">Повторить пароль</label>
                <div class="password-container">
                    <input type="password" name="password_again" id="password_again" placeholder="Повторить пароль" class="d-inline-flex focus-ring focus-ring-success">
                    <input type="checkbox" name="password_again" id="pass_show" onclick="showPassword(this)">
                </div>
            </div>
            <input class="submit btn btn-outline-primary" type="submit" value="Зарегистрироваться">
            <a href="/login" class="text-primary">Уже есть аккаунт?</a>
        </form>
    </section>
</div>
{% endblock %}
